.TrangChuBenGiaoHang{
    background-color: #FFFFE0;
    padding-bottom: 30px;
}
.DSĐHXacNhan .text{
    text-align: center;
    color: #e80889;
    font-size: 50px;
}
.DSĐHXacNhan .list{
    list-style-type: none;
}
.DSĐHXacNhan .element{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 3px solid #e80889 ;
    align-items: center;
    margin-right: 20px;
}
.ThongTinDonHangXacNhan{
    margin-left: 10px;
}

.ThongTinDonHangXacNhan-info{
    margin-left: 30px;
    color: #e80889
}   
.XacNhanDonHangbtn{
    height: 40px;
    border: none;
    border-radius: 50px;
    padding: 0px 20px;
    font-size: 20px;
    background-color: #e80889;
    color:#ffd7ef;
    margin-right: 30px;
}
.XacNhanDonHangbtn:hover{
    opacity: 0.5;
    cursor: pointer; 
}

/* Danh sách đơn hàng cần giao*/
.DSĐHCanGiao .text{
    text-align: center;
    color: #e80889;
    font-size: 50px;
}
.DSĐHCanGiao .list{
    list-style-type: none;
}
.DSĐHCanGiao .element{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 3px solid #e80889 ;
    align-items: center;
    margin-right: 20px;
}
.ThongTinDonHangCanGiao{
    margin-left: 10px;
}

.ThongTinDonHangCanGiao-info{
    margin-left: 30px;
    color: #e80889
}

.XemChiTietDonHang-BGHbtn{
    height: 40px;
    border: none;
    border-radius: 50px;
    padding: 0px 20px;
    font-size: 20px;
    background-color: #e80889;
    color:#ffd7ef;
    margin-top: 30px;
    margin-left: 36%;
    display: block;
}
.XemChiTietDonHang-BGHbtn:hover{
    opacity: 0.5;
    cursor: pointer; 
}
.XacNhanDonHangDaGiao{
    height: 40px;
    border: none;
    border-radius: 50px;
    padding: 0px 20px;
    font-size: 25px;
    background-color: #e80889;
    color:#ffd7ef;
}
.XacNhanDonHangDaGiao:hover{
    opacity: 0.5;
    cursor: pointer; 
}
.HuyDonHang{
    height: 40px;
    border: none;
    border-radius: 50px;
    padding: 0px 20px;
    font-size: 25px;
    background-color: #e80889;
    color:#ffd7ef;
    margin-right: 50px;
    margin-left: 50px;
}
.HuyDonHang:hover{
    opacity: 0.5;
    cursor: pointer; 
}
.XemChiTietDonHangCanGiao{
    padding: 50px 0px;
}

.XemThongTin{
    background-color: #FFFFE0;
    padding-top: 20px;
    color: #e80889;
    padding-left: 20%;
}
.XemThongTin-Title{
    font-size: 70px;
    margin-left: 15%;
}
.NVGH-Info{
    padding: 20px;
    padding-left: 15%;
}
.ExitToHome{
    border: none;
    border-radius: 50px;
    background-color: #e80889;
    margin-top: 20px ;
    margin-bottom: 20px;
    margin-left: 35%;
    padding: 5px 25px;
    font-size: 30px;
    color: #ffd7ef;
}
.ExitToHome:hover{
    opacity: 0.5;
    cursor: pointer;
}